#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=ens33 --ipv6=auto --no-activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$V/jzIOpGR/3D70je$eiD3sRFpGEd0bNUNQWR0Gc5BwFnzzdIVGlOYCtx34A8h4OIyHQ9TNkF9EHa4A64ADi56eviaVHOLnWXC3qTbK/
# System services
services --disabled="chronyd"
# System timezone
timezone Asia/Kolkata --isUtc --nontp
user --name=ansible --password=$6$ZdatdbL6KTY9Aa9a$QqMDufcuWt4iCEIBX//DhOweznZ5gUGmJ8jZ5mYeIJmHUlNMQkQDhQmUtHiphAkLRfdrpyphRliywj8u..Dr0. --iscrypted --gecos="ansible"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^compute-node-environment
@base
@core
@scientific
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
